@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Dancing Script', cursive;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}